/* COMPONENTS */

/* END COMPONENTS */
.main-address {
    font-style: normal;
}

/* ===========HEADER============= */
.logo-blue-color{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-black-color {
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color: #000000;
}

.nav-list-link {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: #212121;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
}

.header-mail,
.header-tel{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: #757575;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color:#2196F3;
}
/* ===========END HEADER============= */

/* ===========HERO============= */
.hero-title{
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 1.364;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
/* color: #FFFFFF */
}
.hero-title-btn {
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
/* color: #FFFFFF; */
}
/* ===========END HERO ============= */

/* ========== JOB DESCRIPTION */
.undertitle {
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.description-undertitle{
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #757575;
}
/* ========== END JOB DESCRIPTION============ */

/* ===========RESPONSIBILITIES============== */
.responsibilities-title {
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/* ===========END RESPONSIBILITIES============== */
/* =========== TEAM ============== */
.team-undertitle{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-undertitle-description{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
/* =========== END TEAM ============== */
/* =========== CONTACT INFORMATION ============== */
.address-list-item{
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.address-list-contact {
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/* =========== END INFORMATION ============== */
